
@{
    ViewData["Title"] = "Contact";
}

    <div class="text-center">
        <h1 class="display-4">Nous contacter</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, est sed facilisis volutpat, nibh diam feugiat sem, id ornare augue justo eget justo. Etiam mollis dui ut dui cursus, vitae aliquam ligula semper. Quisque sed euismod augue. Mauris vitae sem eget mi rutrum efficitur. Ut ex tellus, porttitor non sodales porttitor, gravida in enim. Maecenas convallis, lacus et luctus aliquet, massa massa tristique leo, sit amet scelerisque nisl massa a libero. Proin auctor est dignissim ex volutpat accumsan. Phasellus non sagittis elit. In finibus ac sapien blandit hendrerit. Nullam facilisis lacus a lacus elementum viverra. Praesent bibendum odio id tristique maximus.  </p>
    </div>


