
@{
    ViewData["Title"] = "Contact";
}

    <div class="text-center">
        <h1 class="display-4">Nous contacter</h1>
        <p> Je vous dirais bien de me contacter sur mon numéro de téléphone mais dû au manque total de financement je n'ai même pas de quoi me payer un forfait avec 5 minutes d'appel.</p>
        <p> Sinon si vous avez des questions, j'ai un mail : jaiunequestion@yahoo.fr</p>
    </div>


