
@model BeerFormViewModel
@{
    ViewData["Title"] = "EditBeer";
}
<div class="text-center">
    <h1 class="display-4">Modifie ta bière</h1>
</div>

<div class="container">
    <form asp-action="Edit" method="post">

        <input asp-for="Identifiant" type="hidden" class="form-control" />
        <div class="form-group">
            <label asp-for="Libelle" class="control-label"></label>
            <input asp-for="Libelle" class="form-control" />
            <span asp-validation-for="Libelle" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateProduction" class="control-label"></label>
            <input asp-for="DateProduction" class="form-control" />
            <span asp-validation-for="DateProduction" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentifiantCategorie" class="control-label"></label>
            <select class="form-control" asp-for="IdentifiantCategorie" asp-items="Model.Categories"></select>
            <span asp-validation-for="IdentifiantCategorie" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentifiantGamme" class="control-label"></label>
            <select class="form-control" asp-for="IdentifiantGamme" asp-items="Model.Gammes"></select>
            <span asp-validation-for="IdentifiantGamme" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TauxAlcoolemie" class="control-label"></label>
            <input asp-for="TauxAlcoolemie" class="form-control" />
            <span asp-validation-for="TauxAlcoolemie" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Commentaire" class="control-label"></label>
            <input asp-for="Commentaire" class="form-control" />
            <span asp-validation-for="Commentaire" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Sauvegarder" class="btn btn-primary" />
        </div>

    </form>
</div>




