
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Beer Book</h1>
    <p> Metuentes igitur idem  parte campestrem cum se inpares nostris fore congressione stataria documentis frequentibus scirent, tramitibus deviis petivere Pamphyliam diu quidem intactam sed timore populationum et caedium, milite per omnia diffuso propinqua, magnis undique praesidiis conmunitam.</p>
</div>

<div class="text-center">
    <a class="btn btn-danger" asp-action="Index">Connaitre notre répertoire de bières</a>
</div>

<div class="text-center">
    <a class="btn btn-success" asp-action="AddBug">Ajouter une bière au répertoire</a>
</div>