
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Beer Book</h1>
    <p> LE SITE (non fiable) qu'il TE faut pour trouver (peut-être) LA BIÈRE qui TE CONVIENT.</p>
</div>

<div class="text-center">
    <a class="btn btn-danger" asp-action="Index">Connaitre notre répertoire de bières</a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-success" asp-action="AddBeer">Ajouter une bière au répertoire</a>
</div>